<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="lookConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=look;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="lookConnectionString2" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=look;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />
    <add name="lookConnectionString3" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=look;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>